*
{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
img{
	vertical-align: top;
}
.wrapper
{
	width: 970px;
	margin: 0 auto;

}
.contenedor
{
	width: 600px;
	float: left;
}
.lateral
{
	width: 370px;
	float: left;
}

.clearfix
{
	clear: both;
}

.nav-left , .nav-right
{
	display: inline-block;
	width: 46px;
	height: 95px;
	position: absolute;
	background-image: url("sprite.png");
	transition:all 0.5s linear;
}

.nav-left 
{	
	top:40%;
	left: 0;
	background-position: -129px -4px;}
.nav-right
{
	right: 0;
	top:40%;
	background-position: -178px -4px}

.caja-relative
{
	position: relative;
}
.ui-titulo
{
	position: absolute;
	bottom: 0;
	background-color: black;
	color:white;
	font-size: 15px;
	padding: 10px;
	transition:all 0.4s linear 0.2s;
}


.nav-left , .nav-right , .ui-titulo
{
/*display: none;*/
opacity: 0;
}

.img-principal:hover  .nav-right ,
.img-principal:hover  .nav-left ,
.img-principal:hover  .ui-titulo
{
opacity: 1;
}